body{
    margin: 0;
    min-width: 960px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #ffffff;
    background: #000000 url("../img/background1.jpg") no-repeat center top;
}
h1, h2{
    font-size: 30px;
    line-height: 42px;
}
.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.marg{
    margin-top: 100px;
}
.main-navigation{
    width: 780px;
    float: left;
}
.main-navigation a{
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}
.main-navigation a:hover{
    background: #242424;
}
.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}
.user-block{
    max-width: 140px;
    float: right;
}
.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 20px;
    padding-left: 50px;
}
.login::before{
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -10px;
    opacity: 0.3;
}
.login:hover::before{
    opacity: 1;
}

.login:hover{
    background: #242424;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.main-header{
    color: #ffffff;
    background: #000000;
    margin-bottom: 60px;
}
.index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}
.index-logo img{
    width: 368px;
    height: 204px;
}
.features-item{
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
}
.features-item p{
    margin: 10px;
    margin-bottom: 0;
}

.features-item:last-child{
    margin-right: 0;
}
.features{
    margin-bottom: 80px;
}
.features-name{
    position: relative;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
}
.features-name::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.index-content{
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000;
    background: url("../img/vertline.png") center no-repeat, #f8f5f2 url("../img/background50x50.jpg");
    
}
.index-content-left{
    width: 380px;
    float: left;
}
.index-content p{
    margin: 0;
    margin-bottom: 25px;
}
.news-preview{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 35px;
}
.news-preview li{
    margin-bottom: 25px;
}
.news-preview p{
    margin-bottom: 0;
    text-transform: none;
}
.news-preview time{
    text-transform: none;
}
.btn{
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    padding: 10px 33px;
    vertical-align: top;
    text-align: center;
    margin-right: 16px;
    
}
.btn:hover, 
.btn:active{
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
    cursor: default;
    opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover{
    background-color: #000000;
}
.index-content-right{
    width: 300px;
    float: right;
}
.index-content-title{
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 25px;
}
.gallery{
    position: relative;
    height: 260px;
    
}
.gallery-content{
    margin: 0;
    height: 164px;
    border: solid 7px #ffffff;
    background-color: #cccccc;
}
.gallery-content img {
    width: 286px;;
    height: 164px;
}
.gallery .btn{
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}
.gallery-prev{
    left: 0;
}
.gallery-next{
    right: 0;
}
.appointment-form input{
/*    width: 106px;*/
    box-sizing: border-box;
    width: 140px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    padding: 7px 15px;
    background-color: #f9f6f3;
    outline: none;
    border: solid 2px #000000;
}
.appointment-form input:nth-child(2n){
    margin-right: 0;
}
.appointment-form .btn{
    clear: both;
    width: 100%;
}
.appointment-form input:focus{
    border: 2px solid #663d15;
}
.main-footer{
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #252525 url("../img/backgroundfooter.jpg");
    color: #ffffff;
}
.footer-contacts{
    width: 320px;
    float: left;
    margin-right: 60px;
}
.footer-contacts a{
    color: #ffffff;
}
.footer-contacts a:hover{
    text-decoration: none;
}
.footer-social{
    text-align: center;
    width: 180px;
    float: left;
}
.footer-social p{
    margin: 0;
    margin-bottom: 15px;
}

.social-btn{
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background: #000000 url("../img/sprite.png") no-repeat center;
    transition: 
        background-position 0.5s;
        background-color: 0.5s;
}
.social-btn:hover{
    background: #ffffff url("../img/sprite.png") no-repeat center;
}
.social-btn-vk{
    background-position: -254px 3px;
}
.social-btn-fb{
    background-position: -33px 0;
}
.social-btn-inst{
    background-position: -170px 0;
}
.social-btn-vk:hover {
    background-position: -299px 3px;
}
.social-btn-fb:hover {
    background-position: -65px 0;
}
.social-btn-inst:hover {
    background-position: -211px 0;
}
.footer-copyright{
    max-width: 180px;
    float: right;
}
.footer-copyright p{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}
.footer-copyright .btn{
    margin-right: 0;
}
.footer-copyright .btn:hover{
    color: #000000;
    background-color: #ffffff;
}
.head2{
    margin-bottom: 60px;
}
.filters{
    width: 230px;
    height: 600px;
    padding: 0 10px;;
    float: left;
}
.item{
    display: inline-block;
    width: 220px;
    height: 290px;
    vertical-align: top;
    margin: 10px
}
.item:nth-child(3n){
    margin-right: -30px;
}

/* ссылки на спрайт*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-fb1 {
    width: 12px;
    height: 22px;
    background-position: -48px -10px;
}

.sprite-fb2 {
    width: 12px;
    height: 22px;
    background-position: -80px -10px;
}

.sprite-form-login {
    width: 15px;
    height: 15px;
    background-position: -112px -10px;
}

.sprite-form-pass {
    width: 15px;
    height: 17px;
    background-position: -147px -10px;
}

.sprite-inst1 {
    width: 21px;
    height: 21px;
    background-position: -182px -10px;
}

.sprite-inst2 {
    width: 21px;
    height: 21px;
    background-position: -223px -10px;
}

.sprite-vk1 {
    width: 25px;
    height: 16px;
    background-position: -264px -10px;
}

.sprite-vk2 {
    width: 25px;
    height: 16px;
    background-position: -309px -10px;
}

/*Форма входа*/

.modal-content{
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    box-sizing: border-box;
    width: 460px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f5f2 url("../img/background50x50.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-close{
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}
.modal-content-close::before, .modal-content-close::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    top: 10px;
    left: 2px;
    background-color: #d0d0d0;
    border-right: 1px;
}

.remember input[type="checkbox"]:checked + .checkbox-indicator::before,
.modal-content-close::before{
    transform: rotate(45deg);
}
.remember input[type="checkbox"]:checked + .checkbox-indicator::after,
.modal-content-close::after{
    transform: rotate(-45deg);
}
.modal-content h2{
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}
.modal-content p{
    margin: 0;
    margin-bottom: 14px;
}
.modal-content .login-form{
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-form input[type="text"], .login-form input[type="password"]{
    position: relative;
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f8f5f2;
    border: 2px solid #000000;
    outline: none;
}
.icon-user{
    display: inline-block;
    position: absolute;
    top: 175px;
    right: 90px;
    width: 15px;
    height: 15px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -112px -10px;
}
.icon-pass{
    display: inline-block;
    position: absolute;
    top: 233px;
    right: 90px;
    width: 15px;
    height: 15px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -147px -10px;
}
.login-form input:focus{
    border-color: #663d15;
}
.forgotpass {
    float: right;
    color: #000000;
}
.login-form .btn{
    width: 100%;
    margin-top: 15px;
}
.remember{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.remember:hover{
    color: #663d15;
}

.remember input[type="checkbox"]{
    display: none;
}
.remember input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}
.remember input[type="checkbox"]:checked + .checkbox-indicator::before,
.remember input[type="checkbox"]:checked + .checkbox-indicator::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    top: 8px;
    left: 1px;
    background-color: #000000;
}
.model-content-map{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -390px;
    width: 766px;
    height: 561px;
    background: #e9e5dc;
    border: solid 7px #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}
.modal-content-show{
    display: block;
    animation: bounce 0.8s;
}
@keyframes bounce{
    0%{
        transform: translateY(-1000px);
    }
    70%{
        transform: translateY(30px);
    }
    90%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}